body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  max-height: calc(100vh - 40px);
  max-width: 100%;
}

.main-panel {
  border: 4px solid #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  width: auto;
}

.left-panel {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center scoreboard horizontally */
  justify-content: space-between; /* Center in the available space */
  width: 15%; /* Adjust width as needed */
  max-height: calc(100vh - 40px);
  padding: 10px;
}

.score-board {
  display: flex;
  flex-direction: column; /* Stack score elements */
  justify-content: center; /* Center in the available space */
  align-items: center;
  width: 100%; /* Match width of the panel */
  background-color: #222; /* Optional for visualization */
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  text-align: center;
}

#tetris-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.tetris-logo {
  max-width: 80%;
  height: auto;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 20%;
  height: calc(100vh - 80px);
  border: 4px solid #111;
  border-radius: 10px;
}

.hold-piece {
  flex: 0 0 calc(20% - 40px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid #9999;
}

.next-pieces {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid #9999;
}

.text-container {
  flex: 0 0 40px; /* Fixed height for text */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 40px;
}
